DATABASE_URL=
ADMIN_SESSION_SECRET=
APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
YOPAGO_MODE=live
YOPAGO_CALLBACK_USERNAME=
YOPAGO_CALLBACK_PASSWORD=
YOPAGO_QR_URL=https://yopago.com.bo/pay/qr/generateQr
YOPAGO_CARD_URL=https://yopago.com.bo/pay/api/generateUrl
YOPAGO_ALLOWED_CARD_HOSTS=yopago.com.bo
